.back-button {
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 25px;
  border-radius: 5px;
  margin-top: 100px;
  cursor: pointer;
}
main{
  margin-top:25px;
}
.country-details-container{
  max-width: 1200px;
  margin-inline: auto;
}
.country-details {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-top: 64px;

}

.country-details img {
  width: 40%;
  border: 1px solid #ddd;
}

.details-text {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  column-gap: 64px;
  max-height: 150px;
  flex-wrap: wrap;

}

.details-text p {
  margin: 0;
}

.border-countires {
  margin-top: 48px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap:8px
}

.border-countires a {
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  padding: 4px 16px;
  border-radius: 5px;
 margin-top: 12px;
  font-size: 14px;
}

@media (max-width:800px) {
  .country-details {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    gap: 16px;
  }

  .details-text {
    display: block;
    max-height: unset;
  }

  .details-text p {
    margin: 16px;
  }

  .country-details img {
    width: 100%;
    max-width: 400px;
  }
}